<div class="panel panel-default">
  <div class="panel-body">
    <h2>Answers</h2>
    <div id="answers">
      <%= render :partial => @question.answers %>
    </div></br>

    <div class="add-response">
     <%= form_for [@question, Answer.new], :remote => true do |f| %>
       <p>
         <%= f.label :body, "New answer" %><br/>
         <%= f.text_area :body %>
       </p>
       <div id="add-answer-button"><p><%= f.submit "Add answer" %></p></div>
     <% end %>
    </div>
  </div>
</div>